<h1>Chat Socket.io</h1>

<div class="container">
    <input type="text" id="chatBox">
    <button id="botonChat">Enviar</button>
</div>
<div class="container mt-4">
    <p id="parrafosMensajes"></p>
</div>