<div class="container d-flex flex-column align-items-center">
{{#if info}}
    <p class="text-center">Bienvenido, {{user.first_name}} {{user.last_name}}.</p>
  {{/if}}

  <h1 class="text-center">Productos creados</h1>
  <ul class="text-center list-unstyled">
    {{#each products}}
      <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
  </ul>

  <form action="/api/sessions/logout" method="GET" class="text-center">
    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
  </form>
</div>