<div class="container d-flex flex-column">
  <h1 class="text-center">Productos creados</h1>
  <ul class="text-center list-unstyled">
    {{#each products}}
      <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
  </ul>

  <form action="/api/sessions/logout" method="GET">
    <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
  </form>
</div>