<div class="container d-flex flex-column">
<h1 class="text-center">Productos creados</h1>
<ul class="text-center list-unstyled">
    {{#each products}}
      <li>{{this.title}} - ${{this.price}}</li>
    {{/each}}
  </ul>
  </div>