body {
  background-color: whitesmoke;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.card{
  background-color: aqua;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
