body {
  background-color: whitesmoke;
  margin: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #37003c;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
}

.card{
  background-color: #0be4ff;
}

label,
input {
  display: block;
  margin-bottom: 10px;
  color: #37003c;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input {
  width: 100%;
  padding: 8px;
}

button {
  background-color: #37003c;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}